/* -------------- common colors -------------- */
/* --------- normalize --------- */
/* -------- fonts ---------*/
/* font-family: 'robotolight'; */
@font-face {
  font-family: 'newbaskervillecregular';
  src: url("newbaskervillec-webfont.woff2") format("woff2"), url("newbaskervillec-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* --------- mixins --------- */
/* --------- mixins --------- */
.container:before, .container:after {
  content: "";
  display: table;
}
.container:after {
  clear: both;
}

/* --------- centered --------- */
/* --------- compass sprites --------- */
/* --------- responsive --------- */
/* --------- adjustment --------- */
/* --------- adjustment --------- */
* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  font-size: 100%;
}
@media screen and (max-width: 1224px) {
  html {
    font-size: 15px;
  }
}
@media screen and (max-width: 992px) {
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 12px;
  }
}

body {
  font: 16px/1.25 "PT Sans", "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 100% !important;
  margin: 0;
  color: #fff;
  background: #eff2f7;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none outside none;
}
ul li {
  padding: 0;
  left: 0;
}

p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

footer {
  position: relative;
  height: 60px;
  margin-top: -60px;
}

.wrapper {
  position: relative;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  overflow: hidden;
}
.wrapper:after {
  content: "";
  display: block;
  height: 60px;
}

.container {
  max-width: 1260px;
  width: 95%;
  margin: 0 auto;
}
@media screen and (max-width: 480px) {
  .container {
    width: 90%;
  }
}

.main {
  padding-top: 56px;
  padding-bottom: 60px;
}
@media screen and (max-width: 480px) {
  .main {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.img-cover {
  position: relative;
  display: block;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-contain {
  position: relative;
  display: block;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.img-fake {
  position: absolute;
  top: 0;
  left: -9999px;
}

.img-width {
  max-width: 100%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  background: rgba(0, 0, 0, 0.9);
}

/*---------- checkbox -----------*/
.checkbox {
  display: block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.checkbox__input {
  position: absolute;
  top: 0;
  left: -40px;
}

.checkbox__input:checked + .checkbox__fake::before {
  display: block;
}

.checkbox__input:checked + .checkbox__fake--radio {
  background: #a5d2fb;
}
.checkbox__input:checked + .checkbox__fake--radio::before {
  display: block;
}

.checkbox__fake--radio:before {
  content: "";
  display: none;
  position: absolute;
}

/* -------------- misc icons sprite -------------- */
/* --------- sections --------- */
.country__list {
  margin: 0 -10px;
  font-size: 0;
}
@media screen and (max-width: 480px) {
  .country__list {
    margin: 0 -7px;
  }
}

.country__item {
  float: right;
  width: 25%;
  height: 14.6vw;
  margin-bottom: 20px;
  padding: 0 10px;
  font-size: 16px;
  overflow: hidden;
}
@media screen and (max-width: 992px) {
  .country__item {
    width: 50%;
    height: 30vw;
  }
}
@media screen and (max-width: 480px) {
  .country__item {
    margin-bottom: 14px;
    padding: 0 7px;
  }
}

.country__item--big {
  width: 50%;
  height: 30.6vw;
}
.country__item--big .img-cover {
  background-position: 50% 30%;
}
.country__item--big .img-country__img-title {
  top: 24%;
  left: 5%;
  right: auto;
  font-size: 40px;
}
@media screen and (max-width: 1224px) {
  .country__item--big .img-country__img-title {
    font-size: 32px;
  }
}
@media screen and (max-width: 992px) {
  .country__item--big {
    width: 100%;
    height: 60vw;
  }
  .country__item--big .img-country__img-title {
    font-size: 40px;
  }
}
@media screen and (max-width: 768px) {
  .country__item--big .img-country__img-title {
    font-size: 30px;
  }
}
@media screen and (max-width: 480px) {
  .country__item--big .img-country__img-title {
    margin-bottom: 6px;
    font-size: 14px;
  }
}

.country__img-list {
  position: absolute;
  top: 38%;
  left: 7%;
}

.country__img-item {
  margin-bottom: 20px;
  font-size: 20px;
  font-family: 'newbaskervillecregular';
}
@media screen and (max-width: 1224px) {
  .country__img-item {
    margin-bottom: 14px;
    font-size: 18px;
  }
}
@media screen and (max-width: 992px) {
  .country__img-item {
    margin-bottom: 20px;
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  .country__img-item {
    margin-bottom: 10px;
    font-size: 16px;
  }
}
@media screen and (max-width: 480px) {
  .country__img-item {
    margin-bottom: 4px;
    font-size: 14px;
  }
}

.country__block {
  background: #313336;
}

.country__img--big {
  height: 30.6vw;
}
@media screen and (max-width: 992px) {
  .country__img--big {
    height: 60vw;
  }
}

.img-country__img {
  position: relative;
  height: 14.6vw;
}
@media screen and (max-width: 992px) {
  .img-country__img {
    height: 30vw;
  }
}

.img-country__bg-first {
  height: 100%;
  background: rgba(3, 21, 36, 0.6);
}

.img-country__bg-second {
  height: 100%;
  background: rgba(7, 26, 42, 0.2);
}

.img-country__img-pic {
  max-width: 100%;
}

.img-country__img-title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  font-size: 36px;
  font-family: 'newbaskervillecregular';
}
@media screen and (max-width: 1224px) {
  .img-country__img-title {
    font-size: 30px;
  }
}
@media screen and (max-width: 992px) {
  .img-country__img-title {
    font-size: 36px;
  }
}
@media screen and (max-width: 768px) {
  .img-country__img-title {
    font-size: 28px;
  }
}
@media screen and (max-width: 480px) {
  .img-country__img-title {
    font-size: 16px;
  }
}

.img-country__desc {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 35px 20px 0;
  font-size: 14px;
  color: #abaeb3;
}
@media screen and (max-width: 1224px) {
  .img-country__desc {
    padding: 12px 10px 0;
  }
  .img-country__desc .img-country__desc-title {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .img-country__desc {
    font-size: 11px;
  }
}

.img-country__desc-text p {
  margin-bottom: 32px;
}
@media screen and (max-width: 480px) {
  .img-country__desc-text {
    margin-bottom: 0;
  }
}

.img-country__desc-title {
  font-size: 24px;
  font-family: 'newbaskervillecregular';
}
.img-country__desc-title.position {
  position: absolute;
  bottom: 15px;
  left: 20px;
}
@media screen and (max-width: 768px) {
  .img-country__desc-title {
    font-size: 20px;
  }
}
@media screen and (max-width: 480px) {
  .img-country__desc-title {
    bottom: 6px;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.img-country__img-popup {
  position: relative;
  cursor: pointer;
}
.img-country__img-popup:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 42px;
  height: 42px;
  margin: auto;
  background: url(../img/svg/icon_zoom.svg) no-repeat;
}

.img-country__video-popup {
  position: relative;
  height: 200px;
  cursor: pointer;
}
.img-country__video-popup:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 42px;
  height: 42px;
  margin: auto;
  background: url(../img/svg/icon_play.svg) no-repeat;
}

.footer {
  width: 100%;
  padding-top: 22px;
  color: #6b7076;
  background: #282a2d;
  border-top: 1px solid #c7cacf;
}
@media screen and (max-width: 480px) {
  .footer {
    padding: 12px;
  }
}

.footer__left {
  float: left;
  width: 50%;
  text-align: left;
}

.footer__right {
  float: left;
  width: 50%;
  text-align: right;
}

.footer__copyright {
  font-family: 'newbaskervillecregular';
}

.footer__content {
  font-size: 14px;
}
.footer__content span {
  color: #b5b9be;
}

.header {
  width: 100%;
  height: 80px;
  padding-top: 12px;
  background: #282a2d;
}

.header__logo-link {
  display: inline-block;
}

.header__logo {
  float: left;
  width: 60px;
  margin-left: 8px;
}

.logo__img {
  height: 56px;
}

.header__title {
  float: left;
  text-transform: lowercase;
  color: #fff;
}

.header__title-top {
  font-size: 32px;
  font-family: 'newbaskervillecregular';
}

.header__title-bottom {
  font-size: 11px;
  color: #565a5e;
}

.nav {
  margin-bottom: 24px;
}

.nav__item {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-right: 20px;
}
.nav__item:last-child {
  margin-right: 0;
}
.nav__item.active
.nav__link {
  position: relative;
  color: #252525;
  font-weight: bold;
}
.nav__item.active
.nav__link:after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
  height: 2px;
  background: #252525;
}

.nav__link {
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  color: #9fa2a8;
  font-family: 'PT Sans';
}
.nav__link:hover {
  color: #252525;
}

.popup-img {
  display: none;
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 640px;
  height: 480px;
  margin: auto;
  z-index: 100;
}
.popup-img.open {
  display: block;
}
@media screen and (max-width: 768px) {
  .popup-img {
    width: 375px;
    height: 240px;
  }
}
@media screen and (max-width: 480px) {
  .popup-img {
    width: 300px;
    height: 200px;
  }
}

.popup-video {
  display: none;
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 740px;
  height: 480px;
  margin: auto;
  z-index: 100;
}
.popup-video.open {
  display: block;
}
@media screen and (max-width: 768px) {
  .popup-video {
    width: 375px;
    height: 240px;
  }
}
@media screen and (max-width: 480px) {
  .popup-video {
    width: 300px;
    height: 200px;
  }
}

.popup__close {
  position: absolute;
  top: -34px;
  right: -34px;
  width: 28px;
  height: 28px;
  z-index: 100;
}
@media screen and (max-width: 480px) {
  .popup__close {
    top: -10px;
    right: -10px;
  }
}

.popup__close-link {
  display: block;
  width: 28px;
  height: 28px;
  font-size: 0;
  background: url(../img/svg/icon_close.svg) no-repeat;
}

.popup-img__block {
  width: 100%;
  height: 100%;
}

.popup-img__block {
  max-width: 100%;
}

.popup-video__video {
  width: 740px;
  height: 480px;
}
@media screen and (max-width: 768px) {
  .popup-video__video {
    width: 375px;
    height: 240px;
  }
}

@media screen and (max-width: 768px) {
  .popup-video__iframe {
    width: 375px;
    height: 240px;
  }
}

.slick-arrow {
  position: absolute;
  bottom: 20px;
  width: 21px;
  height: 21px;
  font-size: 0;
  border: none;
  z-index: 1;
  opacity: 0.15;
  cursor: pointer;
}
.slick-arrow:hover {
  opacity: 1;
}
@media screen and (max-width: 1224px) {
  .slick-arrow {
    bottom: 14px;
  }
}
@media screen and (max-width: 480px) {
  .slick-arrow {
    bottom: 10px;
  }
}

.slick-prev {
  right: 57px;
  background: url(../img/svg/prev_slide.svg) no-repeat;
}
@media screen and (max-width: 480px) {
  .slick-prev {
    right: auto;
    left: 12px;
  }
}

.slick-next {
  right: 20px;
  background: url(../img/svg/next_slide.svg) no-repeat;
}
@media screen and (max-width: 480px) {
  .slick-next {
    right: 12px;
  }
}
