.country
	.container
		ul.country__list
			li.country__item
				.country__block
					.country__img.img-country
						ul.img-country__list
							li.img-country__item
								.img-country__img.img-cover(style="background-image: url(./img/country/cuba.jpg);")
									img.img-country__img-pic.img-fake(src="./img/country/cuba.jpg")
									.img-country__img-title Cuba
							li.img-country__item
								.img-country__desc
									.img-country__desc-text
										p Хэмингуэй, став весьма знаменитым, естесвенно, мог выбрать любое место в мире. Почему же он 22 года прожил в Гаване? Потому что это свобода!
									.img-country__desc-title Cuba
							li.img-country__item
								.img-country__img.img-cover(style="background-image: url(./img/country/slide-3.jpg);")
									img.img-country__img(src="./img/country/slide-3.jpg")
									.img-country__desc-title Cuba
							li.img-country__item
								.img-country__img.img-cover(style="background-image: url(./img/country/slide-4.jpg);")
									img.img-country__img(src="./img/country/slide-4.jpg")
									.img-country__desc-title Cuba
			li.country__item
				.country__block
					.country__img.img-country
						ul.img-country__list
							li.img-country__item
								img.img-country__img(src="./img/country/russia.jpg")
								.img-country__img-title Russia
			li.country__item
				.country__block
					.country__img.img-country
						ul.img-country__list
							li.img-country__item
								img.img-country__img(src="./img/country/England.jpg")
								.img-country__img-title England
			li.country__item
				.country__block
					.country__img.img-country
						ul.img-country__list
							li.img-country__item
								img.img-country__img(src="./img/country/Norway.jpg")
								.img-country__img-title Norway
			li.country__item
				.country__block
					.country__img.img-country
						ul.img-country__list
							li.img-country__item
								img.img-country__img(src="./img/country/Switzerland.jpg")
								.img-country__img-title Switzerland
			li.country__item
				.country__block
					.country__img.img-country
						ul.img-country__list
							li.img-country__item
								img.img-country__img(src="./img/country/China.jpg")
								.img-country__img-title China
			li.country__item
				.country__block
					.country__img.img-country
						ul.img-country__list
							li.img-country__item
								img.img-country__img(src="./img/country/Germany.jpg")
								.img-country__img-title Germany
			li.country__item
				.country__block
					.country__img.img-country
						ul.img-country__list
							li.img-country__item
								img.img-country__img(src="./img/country/Japan.jpg")
								.img-country__img-title Japan
			li.country__item
				.country__block
					.country__img.img-country
						ul.img-country__list
							li.img-country__item
								img.img-country__img(src="./img/country/Australia.jpg")
								.img-country__img-title Australia
			li.country__item
				.country__block
					.country__img.img-country
						ul.img-country__list
							li.img-country__item
								img.img-country__img(src="./img/country/India.jpg")
								.img-country__img-title India
			li.country__item
				.country__block
					.country__img.img-country
						ul.img-country__list
							li.img-country__item
								img.img-country__img(src="./img/country/Finland.jpg")
								.img-country__img-title Finland
			li.country__item
				.country__block
					.country__img.img-country
						ul.img-country__list
							li.img-country__item
								img.img-country__img(src="./img/country/New-Zealand.jpg")
								.img-country__img-title New Zealand