.country
	.container
		ul.country__list
			li.country__item.country__item--big
				.country__block
					.country__img--big.img-cover(style="background-image: url(./img/country/big.jpg);")
						.img-country__bg-first
							img.img-country__img-pic.img-fake(src="./img/country/big.jpg")
							.img-country__img-title Latin America
							ul.country__img-list
								li.country__img-item 1. Honduras
								li.country__img-item 2. Columbia
								li.country__img-item 3. Panama
								li.country__img-item 4. Brazil
								li.country__img-item 5. Peru
			li.country__item
				.country__block
					.country__img.img-country
						ul.img-country__list
							li.img-country__item
								.img-country__img.img-cover(style="background-image: url(./img/country/russia.jpg);")
									.img-country__bg-first
										img.img-country__img.img-fake(src="./img/country/russia.jpg")
										.img-country__img-title Russia
							li.img-country__item
								.img-country__img.img-cover(style="background-image: url(./img/country/russia.jpg);")
									.img-country__bg-first
										img.img-country__img.img-fake.img-fake(src="./img/country/russia.jpg")
										.img-country__img-title Russia
			li.country__item
				.country__block
					.country__img.img-country
						ul.img-country__list
							li.img-country__item
								.img-country__img.img-cover(style="background-image: url(./img/country/cuba.jpg);")
									.img-country__bg-first
										img.img-country__img-pic.img-fake(src="./img/country/cuba.jpg")
										.img-country__img-title Cuba
							li.img-country__item
								.img-country__desc
									.img-country__desc-text
										p Хэмингуэй, став весьма знаменитым, естесвенно, мог выбрать любое место в мире. Почему же он 22 года прожил в Гаване? Потому что это свобода!
									.img-country__desc-title Cuba
							li.img-country__item
								.img-country__img-popup.img-cover(id="img" style="background-image: url(./img/country/slide-3.jpg);")
									.img-country__bg-second
										img.img-country__img.img-fake(src="./img/country/slide-3.jpg")
										.img-country__desc-title.position Cuba
							li.img-country__item
								.img-country__img-popup.img-cover(id="video" style="background-image: url(./img/country/slide-4.jpg);")
									.img-country__bg-second
										img.img-country__img.img-fake(src="./img/country/slide-4.jpg")
										.img-country__desc-title.position Cuba
			li.country__item
				.country__block
					.country__img.img-country
						ul.img-country__list
							li.img-country__item
								.img-country__img.img-cover(style="background-image: url(./img/country/Norway.jpg);")
									.img-country__bg-first
										img.img-country__img.img-fake(src="./img/country/Norway.jpg")
										.img-country__img-title Norway
							li.img-country__item
								.img-country__img.img-cover(style="background-image: url(./img/country/Norway.jpg);")
									.img-country__bg-first
										img.img-country__img.img-fake(src="./img/country/Norway.jpg")
										.img-country__img-title Norway
			li.country__item
				.country__block
					.country__img.img-country
						ul.img-country__list
							li.img-country__item
								.img-country__img.img-cover(style="background-image: url(./img/country/England.jpg);")
									.img-country__bg-first
										img.img-country__img.img-fake(src="./img/country/England.jpg")
										.img-country__img-title England
							li.img-country__item
								.img-country__img.img-cover(style="background-image: url(./img/country/England.jpg);")
									.img-country__bg-first
										img.img-country__img.img-fake(src="./img/country/England.jpg")
										.img-country__img-title England
			li.country__item
				.country__block
					.country__img.img-country
						ul.img-country__list
							li.img-country__item
								.img-country__img.img-cover(style="background-image: url(./img/country/Japan.jpg);")
									.img-country__bg-first
										img.img-country__img.img-fake(src="./img/country/Japan.jpg")
										.img-country__img-title Japan
							li.img-country__item
								.img-country__img.img-cover(style="background-image: url(./img/country/Japan.jpg);")
									.img-country__bg-first
										img.img-country__img.img-fake(src="./img/country/Japan.jpg")
										.img-country__img-title Japan
			li.country__item
				.country__block
					.country__img.img-country
						ul.img-country__list
							li.img-country__item
								.img-country__img.img-cover(style="background-image: url(./img/country/Germany.jpg);")
									.img-country__bg-first
										img.img-country__img.img-fake(src="./img/country/Germany.jpg")
										.img-country__img-title Germany
							li.img-country__item
								.img-country__img.img-cover(style="background-image: url(./img/country/Germany.jpg);")
									.img-country__bg-first
										img.img-country__img.img-fake(src="./img/country/Germany.jpg")
										.img-country__img-title Germany
			li.country__item
				.country__block
					.country__img.img-country
						ul.img-country__list
							li.img-country__item
								.img-country__img.img-cover(style="background-image: url(./img/country/China.jpg);")
									.img-country__bg-first
										img.img-country__img.img-fake(src="./img/country/China.jpg")
										.img-country__img-title China
							li.img-country__item
								.img-country__img.img-cover(style="background-image: url(./img/country/China.jpg);")
									.img-country__bg-first
										img.img-country__img.img-fake(src="./img/country/China.jpg")
										.img-country__img-title China
			li.country__item
				.country__block
					.country__img.img-country
						ul.img-country__list
							li.img-country__item
								.img-country__img.img-cover(style="background-image: url(./img/country/Switzerland.jpg);")
									.img-country__bg-first
										img.img-country__img.img-fake(src="./img/country/Switzerland.jpg")
										.img-country__img-title Switzerland
							li.img-country__item
								.img-country__img.img-cover(style="background-image: url(./img/country/Switzerland.jpg);")
									.img-country__bg-first
										img.img-country__img.img-fake(src="./img/country/Switzerland.jpg")
										.img-country__img-title Switzerland
			li.country__item
				.country__block
					.country__img.img-country
						ul.img-country__list
							li.img-country__item
								.img-country__img.img-cover(style="background-image: url(./img/country/New-Zealand.jpg);")
									.img-country__bg-first
										img.img-country__img.img-fake(src="./img/country/New-Zealand.jpg")
										.img-country__img-title New Zealand
							li.img-country__item
								.img-country__img.img-cover(style="background-image: url(./img/country/New-Zealand.jpg);")
									.img-country__bg-first
										img.img-country__img.img-fake(src="./img/country/New-Zealand.jpg")
										.img-country__img-title New Zealand
			li.country__item
				.country__block
					.country__img.img-country
						ul.img-country__list
							li.img-country__item
								.img-country__img.img-cover(style="background-image: url(./img/country/Finland.jpg);")
									.img-country__bg-first
										img.img-country__img.img-fake(src="./img/country/Finland.jpg")
										.img-country__img-title Finland
							li.img-country__item
								.img-country__img.img-cover(style="background-image: url(./img/country/Finland.jpg);")
									.img-country__bg-first
										img.img-country__img.img-fake(src="./img/country/Finland.jpg")
										.img-country__img-title Finland
			li.country__item
				.country__block
					.country__img.img-country
						ul.img-country__list
							li.img-country__item
								.img-country__img.img-cover(style="background-image: url(./img/country/India.jpg);")
									.img-country__bg-first
										img.img-country__img.img-fake(src="./img/country/India.jpg")
										.img-country__img-title India
							li.img-country__item
								.img-country__img.img-cover(style="background-image: url(./img/country/India.jpg);")
									.img-country__bg-first
										img.img-country__img.img-fake(src="./img/country/India.jpg")
										.img-country__img-title India
			li.country__item
				.country__block
					.country__img.img-country
						ul.img-country__list
							li.img-country__item
								.img-country__img.img-cover(style="background-image: url(./img/country/Australia.jpg);")
									.img-country__bg-first
										img.img-country__img.img-fake(src="./img/country/Australia.jpg")
										.img-country__img-title Australia
							li.img-country__item
								.img-country__img.img-cover(style="background-image: url(./img/country/Australia.jpg);")
									.img-country__bg-first
										img.img-country__img.img-fake(src="./img/country/Australia.jpg")
										.img-country__img-title Australia