header.header
	.container
		a.header__logo-link(href="#")
			.header__logo
				.logo
					img.logo__img(src="img/svg/logo.svg")
			.header__title
				.header__title-top Adventure
				.header__title-bottom  Оставь свой след, где его еще нет...

