nav.nav
	.container
		- var items = ["Все страны", "Культура", "Экстрим", "Атмосфера", "Люди"]
		ul.nav__list
			each item in items
				li(class="nav__item " +  ((item == "Все страны") ? 'active' : ''))
					a(href="#").nav__link= item
