.popup-img.popup
	.popup__close
		a.popup__close-link(href="#") Закрыть
	.popup-img__block.img-cover(style="background-image: url(./img/country/slide-3.jpg);")
		img.popup-img__block.img-fake(src="./img/country/slide-3.jpg")
