.popup-video.popup
	.popup__close
		a.popup__close-link(href="#") Закрыть
	.popup-video__block
		<iframe id="iframe" width="740" height="480" src="https://www.youtube.com/embed/s6Z-dWKAuqk" frameborder="0" allowfullscreen></iframe>
